@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  font-family: "CatFont";
  src: url("meows-vgwjy-webfont.woff") format("woff"),
  url("meows-vgwjy-webfont.woff2") format("woff2");
  }

body {
    /*width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;*/
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, pink 0%, lightpink 25%, lightcoral 51%, salmon 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  
  header h1{
    text-align: center;
    font-family: 'CatFont';
    font-size: 60px;
    font-weight: normal;
  }

  header h1 a{
    text-decoration: none;
    color: whitesmoke;
  }

  main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
  }

  .infocard {
    height: fit-content;
    order: 2;
    border: 2px solid black;
    background-color: white;
    border-radius: 3.5%;
    max-height: 100%;
    min-width: 300px;
    display: grid;
    align-items: center;
    overflow: hidden;
    /*float: right;*/
    margin: 5px;
  }
  
  .infocard *{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    max-width: 100%;
    min-width: 100%;
  }

  .infocard h3{
    text-align: center;
    font-size: xx-large;
    border-bottom: 2px solid black;
    background-color: lightcoral;
  }

  .infocard .subtitle{
    text-align: center;
    font-size: large;
    border-bottom: 1px solid black;
    background-color: pink;
    text-indent: 0;
  }
  
  .infocard picture{
    border-bottom: 2px solid black;
    height: auto;
  }

  .infocard .stats{
    border-bottom: 2px solid black;
  }
  
  .infocard .stats h4{
    text-indent: 3px;
  }

  .infocard .infoline{
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 90%;
    border-bottom: 1px solid black;
  }

  .infocard .infoline h4{
    border-right: 1px solid black;
    background-color: lightgrey;
    text-indent: 3px;
  }

 .infocard .infoline p{
    margin-left: 1%;
    margin-right: 1%;
  }

  .data {
    background-color: white;
    border: 2px solid black;
    border-radius: 3.5%;
    margin: 5px;
    text-align: justify;
    font-size: 120%;
  }

  .data p, h2, h4, h5{
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-indent: 15px;
  }
  
  .data_pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
  }

  .data_pictures figure {
    height: fit-content;
    width: fit-content;
    border: thin #c0c0c0 solid;
    margin: 0;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    justify-items: stretch;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .data_pictures figure img{
      max-width: 100%;
      width: 400px;
      height: auto;
  }

  .data_pictures figure figcaption{
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

  @media screen and (max-width: 60em) {
    main{
      margin-left: 2%;
      margin-right: 2%;
      grid-template-columns: 1fr;
    }
    .infocard{
      height: fit-content;
      order: -1;
      border-radius: 2%;
    }
    .data{
      border-radius: 2%;
    }
  }